@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<head>


    <!-- Icons font CSS-->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="~/css/daterangepicker.css" rel="stylesheet" media="all">
    <link href="~/css/main.min.css" rel="stylesheet" media="all">

</head>


<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Event Registration Form</h2>
            </div>
            <div class="card-body">

                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-row">
                        <div class="name">Email</div>
                        <div class="value">
                            <div class="input-group">

                                <input asp-for="Input.Email" class="input--style-5">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="input-group">

                                <input asp-for="Input.Password" class="input--style-5">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Password</div>
                        <div class="value">
                            <div class="input-group">

                                <input asp-for="Input.ConfirmPassword" class="input--style-5">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Phone</div>
                        <div class="value">
                            <div class="row row-refine">

                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input asp-for="Input.Phone" class="input--style-5">
                                        <span asp-validation-for="Input.Phone" class="text-danger"></span>
                                        <label class="label--desc">Phone Number</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  <div class="form-row">
                        <div class="name">FirstName</div>
                        <div class="value">
                            <div class="row row-refine">

                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input asp-for="Input.Firstname" class="input--style-5">
                                        <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                                        <label class="label--desc">Firstname</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  <div class="form-row">
                        <div class="name">LastName</div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input asp-for="Input.Lastname" class="input--style-5">
                                        <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                                        <label class="label--desc">LastName</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">User Photo</div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-9">
                                    <div class="input-group-desc">
                                        <input type="file" asp-for="Input.UserAvatar" class="input--style-5">
                                        <label class="label--desc">User Pic</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" >
                        <div class="name">Comments</div>
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-9">
                                    <div class="input-group-desc" >
                                        <input asp-for="Input.Comment" class="input--style-5" rows="10">
                                        <span asp-validation-for="Input.Comment" class="text-danger"></span>
                                        <label class="label--desc">Leave a comment</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                       
                        

                    

                    <div class="form-row p-t-20">
                        <label class="label label--block">You want to subscribe to the e-mail newsletter?</label>
                        <div class="p-t-15">
                            <label class="radio-container m-r-55">
                                Yes
                                <input type="radio" checked="checked" name="exist">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">
                                No
                                <input type="radio" name="exist">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/js/global.js"></script>
}
